package home

import (
	"github.com/byitkc/GoFS/view/layout"
	"github.com/byitkc/GoFS/component/uploadWarning"
)

templ Index() {
	@layout.App("Home", false, false) {
		<div class="w-full max-w-xs my-4">
			@uploadWarning.Warning(true)
		</div>
	}
}
